<!DOCTYPE html>
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<head>
    <title>The Dream Multipurpose HTML5 Template</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Dream Multipurpose HTML5 Template">
    <meta name="author" content="CraftDzine">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/jquery.flexslider.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />

    <link href="~/Content/custom.css" rel="stylesheet" />
    <!-- WEB FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet" property="stylesheet" type="text/css" media="all" />

</head>
<body>
    <!-- Start Main Wrapper -->
    <div class="wrapper">
        <!-- Start Header -->
        <div class="header cd-header-block">
            <!--Start Navbar -->
            <div class="navbar mega-menu" role="navigation">
                <div class="container">
                    <!-- Start Brand and Mobile Display -->
                    <div class="menu-container">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".cd-navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Search -->
                        <div class="header-right-sidebar">
                            <ul class="menu-icons-list">  
                                <li class="menu-icons">
                                    <i class="menu-icons-style search search-close search-btn fa fa-search"></i>
                                    <div class="search-open">
         
                                        @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Post))
                                        {
                                            <input type="search" name="searchStr" class="form-control" id="nav-search" placeholder="Search" />
                                        }
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End Search -->
                    <!-- Nav Links -->
                    <div class="collapse navbar-collapse cd-navbar">
                        <div class="menu-container">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Home", "Index", "BlogPosts")</li>
                                <li>@Html.ActionLink("About Me", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li>@Html.Partial("_LoginPartial")</li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>
                                        @Html.ActionLink("Create New", "Create")
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Navbar -->
        </div>
        <!-- End Header -->

        @*<div class="container body-content">*@
            @RenderBody()
            <hr />
            <!-- Start Foooter-->
            <footer class="footer">
                <div class="main-footer">
                    <div class="container">
                        <div class="row">

                            <!-- Start Contact -->
                            <div class="col col-md-3 col-sm-6 footer-links">
                                <h3 class="cv-theme-widget-title">
                                    <span class="main-border">Contact Us</span>
                                </h3>

                                <ul class="contact-list-unstyled">
                                    <li><i class="fa fa-home"></i>121 King Street, Melbourne, Australia</li>
                                    <li><i class="fa fa-phone"></i> Phone : (+123) 12-345-6789</li>
                                    <li><i class="fa fa-envelope-o"></i>Email:  <a href="#">craftdesignstaff@gmail.com</a></li>
                                    <li><i class="fa fa-connectdevelop"></i>Web :  <a href="http://craftdzine.com">craftdzine.com</a></li>
                                </ul>
                                <div class="footer-copyright">
                                    <p>&copy; All Rights Reserved @@ <a target="_blank" href="http://craftdzine.com">CraftDzine</a></p>
                                </div>
                            </div>
                            <!-- End Contact -->
                            <!-- Start Quick Links -->
                            <div class="col-md-3 col-sm-6 col-xs-12 footer-links  category sidebar-category-block">
                                <h3 class="cv-theme-widget-title">
                                    <span class="main-border">Quick Links</span>
                                </h3>

                                <ul class="list-unstyled">
                                    <li><a href="about_us.html">About Us</a></li>
                                    <li><a href="team.html">Our Teams</a></li>
                                    <li><a href="price.html">Price Table</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="contact_us.html">Contact Us</a></li>
                                </ul>

                            </div>
                            <!-- End  Quick Links -->
                            <!-- Start Recent Works -->
                            <div class="col col-md-3 col-sm-6 footer-links">
                                <h3 class="cv-theme-widget-title">
                                    <span class="main-border">Recent Works</span>
                                </h3>
                                <ul class="thumb-list">
                                    <li><a href="#"><img src="~/img/slidingbar/slidingbar1.jpg" alt="" title="" class="thumb-list-item img-responsive" /></a></li>
                                    <li><a href="#"><img src="~/img/slidingbar/slidingbar2.jpg" alt="" title="" class="thumb-list-item img-responsive" /></a></li>
                                    <li><a href="#"><img src="~/img/slidingbar/slidingbar3.jpg" alt="" title="" class="thumb-list-item img-responsive" /></a></li>
                                    <li><a href="#"><img src="~/img/slidingbar/slidingbar4.jpg" alt="" title="" class="thumb-list-item img-responsive" /></a></li>
                                    <li><a href="#"><img src="~/img/slidingbar/slidingbar5.jpg" alt="" title="" class="thumb-list-item img-responsive" /></a></li>
                                    <li><a href="#"><img src="~/img/slidingbar/slidingbar6.jpg" alt="" title="" class="thumb-list-item img-responsive" /></a></li>
                                </ul>
                            </div>
                            <!-- End  Recent Works -->
                            <!-- Start Tags -->
                            <div class="col-md-3 col-sm-6 footer-links">
                                <h3 class="cv-theme-widget-title">
                                    <span class="main-border">Tags</span>
                                </h3>
                                <div class="box-content">
                                    <div class="tags">
                                        <a href="#">Free</a>
                                        <a href="#a">Fashion</a>
                                        <a href="#a">Best sale</a>
                                        <a href="#a">Popular</a>
                                        <a href="#a">Design</a>
                                        <a href="#a">Layout</a>
                                        <a href="#a">Wordpress</a>
                                        <a href="#a">HTML</a>
                                        <a href="#a">CSS</a>
                                        <a href="#a">Design</a>
                                        <a href="#a">PHP</a>
                                        <a href="#">Free</a>
                                        <a href="#a">Fashion</a>
                                        <a href="#a">Best sale</a>
                                        <a href="#a">Popular</a>
                                        <a href="#a">Design</a>
                                        <a href="#a">Layout</a>
                                        <a href="#a">Wordpress</a>
                                        <a href="#a">HTML</a>
                                        <a href="#a">CSS</a>
                                        <a href="#a">Design</a>
                                        <a href="#a">PHP</a>
                                        <a href="#a">Fashion</a>
                                        <a href="#a">Best sale</a>
                                        <a href="#a">Popular</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Tags -->

                        </div>

                    </div>
                </div>
            </footer>
            <!-- End Foooter-->
        @*</div>*@
        <!-- End Main Wrapper -->
        </div>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        <script src="~/Scripts/tinymce/tinymce.min.js"></script>
        <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>

        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/owl.carousel.min.js"></script>
        <script src="~/Scripts/filter.js"></script>
        <script src="~/Scripts/waypoints.min.js"></script>
        <script src="~/Scripts/jquery.counterup.min.js"></script>
        <script src="~/Scripts/jquery.flexslider-min.js"></script>
        <script src="~/Scripts/magnific-popup.min.js"></script>
        <script src="~/Scripts/jquery.selectBox.js"></script>
        <script src="~/Scripts/custom.js"></script>
        <script src="~/Scripts/jquery.dotdotdot.min.js"></script>

        @RenderSection("scripts", required: false)

        <script>
            jQuery(document).ready(function ($) {

                $(".blogThumbnailText").dotdotdot({

                    callback: function (isTruncated) { },
                    /* Function invoked after truncating the text.
                        Inside this function, "this" refers to the wrapper. */

                    ellipsis: "\u2026 ",
                    /* The text to add as ellipsis. */

                    height: 50,
                    /* The (max-)height for the wrapper:
                        null: measure the CSS (max-)height ones;
                        a number: sets a specific height in pixels;
                        "watch": re-measures the CSS (max-)height in the "watch". */

                    keep: null,
                    /* jQuery-selector for elements to keep after the ellipsis. */

                    tolerance: 0,
                    /* Deviation for the measured wrapper height. */

                    truncate: "word",
                    /* How to truncate the text: By "node", "word" or "letter". */

                    watch: "window",
                    /* Whether to update the ellipsis:
                        true: Monitors the wrapper width and height;
                        "window": Monitors the window width and height. */
                });

            });
        </script>
</body>





</html>
