@model myBlog.Models.BlogPost
@using Microsoft.AspNet.Identity;


<div class="page-banner no-subtitle">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2>@Model.Title</h2>
            </div>
        </div>
    </div>
</div>
<!-- Start Blog-->

<section class="main-contain">
    <div class="container">
    <div class="col-md-1"></div>
        <div class="row">
            <div class="col-md-10 col-sm-7 col-xs-12">
                <div class="cv-theme-pa-30">
                    <div class="standard-post-thumbnail">
                        <div class="post-image-block">
                            @if (Model.MediaUrl != null)
                            {
                                <img src="@Url.Content(Model.MediaUrl)" alt="" class="img-responsive">
                            }
                        </div>
                        <div class="blog-dis">
                            <h2 class="entry-title">@Model.Title</h2>
                            <p class="post-meta">By <span class="author vcard">Author</span>  |  <span class="published">@Model.Created.ToString("MM/dd/yyyy")</span></p>
                            @Html.Raw(@Model.Body)
                        </div>
                    </div>
                </div>
                <div class="blog-comments-block cv-theme-30">
                    <h1 class="comments_title">@Model.Comments.Count() Comments</h1>

                    @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
                    {
                        <div class="media comment_section">
                                @if (comment.Author.Avatar == null)
                                {
                                    <div class="pull-left post_comments">
                                        <a href="#"><img src="~/img/avatars/default.png" class="img-circle" alt="" /></a>
                                    </div>
                                }
                                else
                                {
                                    <div class="pull-left post_comments">
                                        <a href="#"><img src="@Url.Content(comment.Author.Avatar)" class="img-circle" alt="" /></a>
                                    </div>
                                }
                            <div class="media-body post_reply_comments">
                                <h4>@comment.Author.DisplayName</h4>
                                <h6>@comment.Created.ToString("MM/dd/yyyy HH:mm")</h6>
                                @Html.Raw(comment.Body)
                            </div>
                        </div>
                        if (User.IsInRole("Admin") || User.IsInRole("Moderator") || comment.AuthorId == HttpContext.Current.User.Identity.GetUserId())
                        {
                            @Html.ActionLink("Edit", "Edit", "Comments", new { id = comment.Id }, new { @class = "btn btn-xs btn-info" })
                            @Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.Id }, new { @class = "btn btn-xs btn-info" })
                        }
                    }
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="blog-post-comment clearfix">
                        <div class="form-main">
                            @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken();

                                @Html.Hidden("PostId", Model.Id)
                                @Html.Hidden("bpSlug", Model.Slug)

                                <p class="text">
                                    <textarea name="Body" class="feedback-input" id="comment" placeholder="Comment"></textarea>
                                </p>

                                <div class="submit">
                                    <button type="submit" class="form-button">Post Comment</button>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</section>

<!-- End Blog-->

